[2015-06-16 09:59] drak42 opened #1 "Linux version?"
Hey,

Do you intend to release a linux version for the Linux stand alone server?

[2015-06-16 23:26] jo3stevens commented on #1
Hey

I hadn't thought about it, but as it's Node it will run on Linux, it's probably just the file paths that need to be updated. I haven't got a Linux server running, but if I find some time I'll give it a go.

Cheers

[2015-08-02 13:53] ClarkParker opened #2 "Web Site Problem"
Hi
First of all... good Job man! Like your work!!

But I've a problem here. After a while running the ACSERVERMANAGER the Website is not reachable any longer, probably about 1 hour is enough and the service is unreachable.
The AC Server runs in the meantime like a charm, sTracker also still running and works also in Game. As said, only the Web interface quit working and I can't find out what the p

[2015-08-14 00:22] jo3stevens commented on #2
Hi Clark

Apologies must have missed this. That's pretty strange because the AC Server and sTracker are running inside the node process, so if they still work I can't see why the website wouldn't.

I've been running this on my server for months, and we also run it on our league servers and I've never seen this issue.

Are you seeing any errors when trying to access the web interface, or any errors

[2015-08-14 18:41] ClarkParker commented on #2
Hi Joe
No Problem! Thanks for replying!
Ok... so I check all your suggestions and by viewing my firewall logs I saw that the port for node was shutting down all the time... so for everybody with the same problem:
I switch the open Port to a high Port and set the Port Options to "keep alive" and here we go... run's for nearly one Day now!
Joe... thanks for your time and help!!! Once again... good j

[2015-08-15 05:02] jo3stevens commented on #2
Good stuff Clark!

I've been working on adding the new settings from 1.2, I've done them all except for Tyres and Weather which I'll add shortly. I'll also be looking to add presets so you can save different configurations.

Cheers
Joe

[2015-08-22 00:28] #2 closed

[2015-08-22 00:28] jo3stevens commented on #2
Hi Clark

Just an FYI that all 1.2 features have now been adding including Tyres and Weather

Cheers

[2015-08-23 10:03] ClarkParker commented on #2
Thanks Joe!
And once again; thanks for your good work!!!
Please keep it on!

Cheers
Flo

[2015-10-01 19:50] ClarkParker opened #5 "STracker not working any longer"
Hi Joe,
yes, it's me again. :)

I updated STracker to the latest version and now it won't start any longer. In the readme of STracker you can find following note:

---

Since version 3.0.0 the AC server has to be configured for plugin usage in server_cfg.ini:

[SERVER]
UDP_PLUGIN_LOCAL_PORT=11000
UDP_PLUGIN_ADDRESS=127.0.0.1:12000

---

So... did I miss something? Is it possible that ACServerManag

[2015-10-01 20:31] ClarkParker commented on #5
OK... get it...
I saw in your server.js that you "only" parse the server_cfg.ini and by changing settings your function saveConfig only writes the specific parameter in the .ini file. I thought you replace the whole server_cfg.ini
______________
So everybody which has the same Problem after updating STracker to 3.0 or above ... this solution should work:

1) Navigate in your File explorer to the s

[2015-10-16 02:29] jo3stevens commented on #5
Hey Clark

Sorry totally missed this as I didn't get any notification, weird..

Thanks for the info, I haven't tried the latest sTracker, but if there is ever an AC update that adds things to the server_cfg.ini it's worth updating the file on the server. The app will read in the entire config and replace values, so like you say they won't get overwritten. That said, those are setting I should add

[2015-10-16 02:31] jo3stevens commented on #1
Hey @drak42

Somebody was kind enough to add linux support if you're still looking for it

[2015-10-16 02:31] #1 closed

[2015-10-19 14:15] ClarkParker commented on #5
Hey Joe (where you goin' with that gun in your hand?) ; )
No Problem...
I saw you've already implemented the UDP Plugin fields to the front end; perfect; as always! :)
Very good job Joe and thanks!
I think this "issue" can be closed now.

Cheers
Flo

PS.: Can't wait to see Multiple instance in the further updates! ; )

[2016-01-05 19:03] olliraa opened #6 "Tracks with multiple layouts not selectable in the gui (and then some)?"
Something weird happening here... Done the installation exactly as told, but the tracks with multiple layouts only appear as one in the drop down menu. Also it seems (have to test some more) that the server config is not saved after all?!

Is this a known problem?

Also one feature request. Please add a button "update car to all the players in the entry list." We have a closed league, so that woul

[2016-01-16 14:18] Cele91 opened #7 "sTracker infinite loading"
Tracker 3.1.7 continues to load endless

[2016-01-25 18:53] ClarkParker commented on #7
Same here, but this seems to be "just a gui problem". In my Case sTracker works anyway.

[2016-08-07 14:37] Maverick87Shaka opened #8 "Is still this project alive? New version coming for amazing 1.5 version?"
Hi all, I try this project some times ago and it's works really well, there is a plan to update to support AC version 1.5 and it's feature, or any other web-based tool derived maybe from this great job?

Thanks!

[2016-09-13 01:26] jo3stevens commented on #8
Hey. Sorry, been really busy, but I would like to get it up to date and working when I have time.

[2016-12-07 11:24] icoicqico opened #9 "not working on linux?"
I have downloaded this program, and when I start the start.sh, then no response it is just version problem or sth?

[2016-12-07 11:49] icoicqico commented on #9
I mean nothing loading @linux cmd and stuck there

[2016-12-07 11:52] p3t3c commented on #9
Assuming you have node js installed. You can try running the command from the command line and confirming that it starts.

[2016-12-07 11:59] icoicqico commented on #9
I have node js, before I installed node.js it show me an error msg. After I install it, told me the game server directory is wrong, after I set it correctly, then no response.

[2016-12-07 12:34] icoicqico commented on #9
![image](https://cloud.githubusercontent.com/assets/24432546/20967878/6a9ffc92-bcbc-11e6-9d6c-8dcad6b49bed.png)
that problem fixed, but can anyone tell me how to fix this? thanks

[2016-12-07 12:34] p3t3c commented on #9
Have you modified settings.js to suit your system?

[2016-12-07 12:34] p3t3c commented on #9
Ahh you need to change it to point to your executables

[2016-12-07 12:35] icoicqico commented on #9
yes, and the web page is working now, can change setting on the website but cant start server on it

[2016-12-07 12:37] p3t3c commented on #9
Does the acserver run on your system if you start by hand?

[2016-12-07 12:40] icoicqico commented on #9
yes if start by hand it is work

[2016-12-07 12:55] icoicqico commented on #9
it is working, i'm stupid because the server is running by hand, so cant be started on webpage.

[2016-12-08 03:42] icoicqico commented on #9
May I ask another question? If I want to use stracker in linux server, the sTracker link should be .../Stracker or .../Stracker/Stracker_linux_x86 ?

[2016-12-08 04:57] icoicqico opened #10 "about stracker on linux"
I can run stacker on linux, but not on the web page? Is the webpage stracker start function only support windows? I have tried to set stacker loaction as .../stracker or .../stracker/stracker_linux_x86 and doesn't work. Could anyone help me? Thanks a lot.

[2016-12-10 10:30] icoicqico commented on #10
I have checked the server.js, controller.js, index.html, services.js. In server.js, stracker setting seems not support linux, if I activate the stracker( set the path @ settings.js), couldn't start the Stracker server and the ACservermanager will be no response too( cant connect to the port3000 page) if i disable the stacker, acservermanager work fine but without stracker.

I have tried to modfiy

[2016-12-12 23:20] philmcphil opened #11 "Missing Something to make it works"
Hello and thank you for this very usefull tool....

My knowledges are very basics...I have this error message runing it on windows server:
C:\_ACServers\AC_Server_Manager_17>node server.js
C:\_ACServers\AC_Server_Manager_17\settings.js:2
  serverPath: 'C:\_ACServers\Server_17\',
              ^^^^^^^^^^^^^^^^^^^^^^^^^^^
_SyntaxError: Invalid or unexpected token
    at Object.exports.runInThisConte

[2016-12-13 10:24] icoicqico commented on #11
Have you got nodejs?

[2016-12-13 11:51] philmcphil commented on #11
Hello, yes i´ve dowloaded it ....

[2016-12-13 11:52] philmcphil commented on #11
Ans i run it on : windows standard_2012_r2 (64BITS)

[2016-12-13 12:10] philmcphil commented on #11
The AC server root:
C:\_ACServers\Server_17

The AC Server Manager root:
C:\_ACServers\Server_17\AC_Server_Manager_17

The setting.js file:
module.exports = {
  serverPath: 'C:\_ACServers\Server_17\',
  contentPath: '',
  sTrackerPath: 'C:\_ACServers\Server_17\',
  username: 'xxxx',
  password: 'xxxxx',
  port: xxxx
};

The server.js file:
As default

[2016-12-13 13:41] icoicqico commented on #11
Maybe try to add / after c: ?

[2016-12-13 18:16] philmcphil commented on #11
Done...No changes...

[2016-12-13 19:28] philmcphil commented on #11
@icoicqico do you have it working on your side ?
Are you using the STracker also ?
And  is there something to add or change in the servercfg.ini at the line:
UDP_PLUGIN_LOCAL_PORT=??
UDP_PLUGIN_ADDRESS=??
AUTH_PLUGIN_ADDRESS=??
LEGAL_TYRES=H;M;S
WELCOME_MESSAGE=

Should i put the open port value on one of this line

[2016-12-13 19:50] icoicqico commented on #11
I am using Linux, but I had tried to start on windows before, and it works. plugin port is for plugin like stracker. And Stracker is another plugin, this manager doesn't include that, only help you to start it on the webpage. Have you installed the Stracker at the right location? If not set the path to '' and try again

[2016-12-13 19:52] icoicqico commented on #11
If you have Stracker installed you have to set the plugin local port to 12000 and the plugin address to 127.0.0.1:11000

[2016-12-13 20:17] philmcphil commented on #11
Thanks for your support...Yes i have STracker working fine....I asked about that just in case any of this line should receive the open port used for ACServermanager

In that case i´m OKAY so , i don´t know what am i missing....

[2016-12-13 20:18] philmcphil commented on #11
There is no thread on the official AC forum ?

[2016-12-13 20:51] icoicqico commented on #11
maybe I know, just tried to start on windows again, change \ to / of all path

[2016-12-13 21:11] philmcphil commented on #11
God bless you ;)

One step complished ;)

The HTTP access works but the server still having error:
Error listening %!e(syscall.Errno=536870951)
Error listening %!e(syscall.Errno=536870951)
Error listening %!e(syscall.Errno=536870951)
Error listening %!e(syscall.Errno=536870951)
Error listening %!e(syscall.Errno=536870951)
Error listening %!e(syscall.Errno=536870951)
Error listening %!e(syscall.Err

[2016-12-13 21:13] philmcphil commented on #11
Ok it works ;)

[2016-12-13 21:22] philmcphil commented on #11
Thank you for your time ;)

[2016-12-13 22:14] philmcphil commented on #11
Okay i still have few things missing with the acServerManager.bat .It does´nt load the content files at the good pointing root

Why, certainly because i have 16 server running independently so , the bat file is at this root :"
C:\_ACServers\Server_05\AC_Server_Manager_05

And the fully game content folder is here :"
C:\Program Files (x86)\Steam\steamapps\common\assettocorsa\content

So do you know

[2017-01-12 21:01] cazzoo opened #12 "Still working on the current builds?"
Hi there,

This tool look promising but I just wonder if it still work with the lastest game update.
I currently look for a solution for mates (not using it myself) and this would be really nice to give them this server manager panel.

Thanks for your reply.
Regards

[2017-01-14 15:38] ClarkParker commented on #12
Hi,
in my case the Web-interface still works with the last Assetto build, but there are (now or better since view AC updates) some problems and issues you have to know. So the sTracker for example will load for ever on the Web Gui - but internal it works. There also some refresh issues with the "server configuration" section as well. Often the fields are empty and you have to refresh the site seve

[2017-01-24 14:29] ClarkParker commented on #11
First of all you have to create for each server the same folder structure as in the original AC folder.
In your example this should be:
C:_ACServers\Server_05\AC_Server_Manager_05\server\content\tracks
and
C:_ACServers\Server_05\AC_Server_Manager_05\server\content\cars

The batchfile should be edited like this:

@echo off
cls
cd \
cd "C:\Program Files (x86)\Steam\steamapps\common\assettocorsa\cont

[2017-01-24 14:52] ClarkParker commented on #12
There is also a new branch of ACServerManager:
https://github.com/Pringlez/ACServerManager

[2017-01-24 19:58] philmcphil commented on #12
Does anyone could give me a hand on this.HTML and config works but when loading i have this:

C:\_ACServers\Server_17\AC_Server_Manager_17>node server.js
OS is win32
Starting Windows Server
Server CFG Path :  cfg/server_cfg.ini
Entry List Path :  cfg/entry_list.ini
Assetto Corsa Dedicated Server v1.9
Protocol version: 190

2017-01-24 20:53:57.4107488 +0100 CET
Num CPU: 8

C:\_ACServers\Server_17\A

[2017-01-24 22:26] Pringlez commented on #12
It's trying to open the log file to write stuff, but can't find it.
Your directory structure looks strange...
It begins with "C:_ACServers\" - which looks wrong, it should be "C:\_ACServers\"
The back slash is missing for some reason...

Whats in your settings.js file?

[2017-01-24 22:27] ClarkParker commented on #12
Is ther a "log" folder under "C:_ACServers\Server_17\AC_Serve
r_Manager_17\" ?
If not... create one

[2017-01-25 01:35] philmcphil commented on #12
Thanks for you help,,,,,Here it is
![acserver](https://cloud.githubusercontent.com/assets/8143769/22274459/f284c312-e2a6-11e6-8695-9c92c304f361.JPG)

[2017-01-25 01:49] philmcphil commented on #12
module.exports = {
  serverPath: 'C:/_ACServers/Server_17/',
  contentPath: 'C:/_ACServers/Server_17/',
  sTrackerPath: 'C:/_ACServers/Server_17/',
  username: '',
  password: '',
  port: xxxx
};

[2017-01-25 10:01] ClarkParker commented on #12
ok... there is no "log" folder...
Anyway, your "settings.js" has also wrong path in it. In the folder "C:/_ACServers/Server_17/" is neither a "content" folder nor the "sTracker" and also no "server" folder but in your settings.js this path are set?!?! Why? This can never ever work!
First solution: Point in the "settings.js" to right folder
Second solution: Copy the respective folder to your "C:/_A

[2017-01-27 20:22] philmcphil commented on #12
@ClarkParker

Thanks for your time......This is my server number 17 ......The ACMANAGER is only used for this one.....Before the update , everything was working perfectly...Even now the HTML connection work, server setting page works...The only thing that doesn´t work is when pressed "run" ...i HAVE THIS ERROR....

[2017-01-27 21:38] Pringlez commented on #12
Backup your server config, entry list and download a new copy from my fork. Copy over your config, entry list & run npm install to download the dependencies. Point your serverPath to your assetto game server & don't set the content path! 🥇 :)
Make sure you open the ports required, sometimes the ac server will fail to start if the right ports are not open in your firewall / router etc.

[2017-01-30 13:52] Pringlez commented on #12
I've notice some issues with saving server configurations with my version of acmanager, can anyone else confirm issues with saving configs & entry lists?
It seems to cut out some of the text coming back from the server config file. Maybe it's just an issue on Linux?

[2017-02-02 17:52] philmcphil commented on #12
@Pringlez , i´m back...I check that and let you know....

[2017-03-13 07:14] JakubDvonc opened #16 "Still no access"
Hello, as I am starting to be a little desperate, I would like to ask for help. I am still not able to connetct to IP, where the Assetto manager is installed and running.

What I did:
1) instal EC2 server on Amazon, with Amazon linux. On a security groups I set all port AC needs HTTP 80, SSH 22, UDP 9600, TCP 8081, TCP 50041 a 2, TCP 42820
2) Install NVM, Node, MP2 and ACmanager
3) set the setting

[2017-03-18 21:57] JakubDvonc commented on #16
ok, I just start the instalation over again and it works now. Dont know why.

[2017-03-18 22:35] JakubDvonc commented on #16
But I didnt move much farther.

1) Passwords:
 username: '',
  password: '',
If I let it empty, I am able to connect to the IP and port.
If I put anything like:
 username: 'a',
  password: 'a',
there is no way, how to connect. It only shows the login. But the username and password doesnt work at all.
But ok, I let it empty and login.

2)
 serverPath: '..//',
 contentPath: '..//',

my direcotry str

[2017-03-23 11:44] Pringlez commented on #16
There is an issue with the authentication, I believe surtic86 was working on a fix here - https://github.com/Pringlez/ACServerManager/pull/2

I would't suggest using the authentication feature right now until it's fixed, leave the username & password blank.

As for your issue with starting the server make sure you point the 'serverPath' variable to your assetto corsa server directory. You said you

[2017-03-23 12:24] JakubDvonc commented on #16
Hello,
first, thank you VERY MUCH for your help.

The authentication issue do not bother me, so I dont mind use it without password.

But the server path:

a) I set the server path to '/home/ec2-user/server/' but there is no difference. Still can connect to IP, but not able to Start the server.

b)my file structure for acmanager

/home/ec2-user/acmanager

see the picture:
![image](https://cloud.gi

[2017-03-23 15:07] Pringlez commented on #16
Ok shutdown your ac manager instance, now start ac manager without using pm2...

With 'node server.js' in ac manager directory, goto ac manager in the browser and try to start the server again. Give us any error output from the running node application in the terminal.

[2017-03-23 15:33] JakubDvonc commented on #16
I tried it - and it just did nothhing. Like nothing:

![image](https://cloud.githubusercontent.com/assets/26374728/24255648/5c384920-0fe6-11e7-8db5-f2f4b7d84663.png)

[2017-03-23 20:03] JakubDvonc commented on #16
and another error when I click "Configuration"

Error - Error: ENOENT: no such file or directory, scandir '/home/ec2-user/server/content/tracks/drift/ui'
Error - Error: ENOENT: no such file or directory, scandir '/home/ec2-user/server/content/tracks/imola/ui'
Error - Error: ENOENT: no such file or directory, scandir '/home/ec2-user/server/content/tracks/ks_barcelona/ui'

and so on...

but this is

[2017-03-23 22:00] Pringlez commented on #16
That error your getting 'Error POST/api/acserver - Error: spawn EACCES'

I believe that is an permissions issue, you need to have the execution rights to basically spawn or create a new running process.

Go to your ac server directory and run 'ls -la' to see if you have the correct permissions to start the server.

Run something like: 'sudo chmod -R a+rwx /home/ec2-user/server' - to gain execution

[2017-03-24 07:20] JakubDvonc commented on #16
ok :) so now it looks like this:

OS is linux
Starting Linux Server
Server CFG Path :  cfg/server_cfg.ini
Entry List Path :  cfg/entry_list.ini
Assetto Corsa Dedicated Server v1.12.1
Protocol version: 200
2017-03-24 03:19:07.961910554 -0400 EDT
Num CPU: 1

LOCAL IP 0: 172.31.29.237
Using cfg path:  cfg/server_cfg.ini
Car list:
_ferrari_458_gt2_
Client interval HZ: 18
WARNING: RESULT_SCREEN_TIME wa

[2017-03-24 10:23] JakubDvonc commented on #16
And this is the 'ls -la' command:

[ec2-user@ip-172-31-29-237 acmanager]$ ls -la
total 76
drwxrwxr-x.  5 ec2-user ec2-user   194 Mar 23 16:02 .
drwx------.  9 ec2-user ec2-user   174 Mar 23 15:31 ..
-rw-rw-r--.  1 ec2-user ec2-user   631 Mar 13 18:22 acServerManager.bat
drwxrwxr-x.  8 ec2-user ec2-user   172 Mar 13 18:22 frontend
drwxrwxr-x.  2 ec2-user ec2-user  8192 Mar 24 05:29 logs
drwxrwxr-x.

[2017-03-24 10:36] Pringlez commented on #16
Run that command in your ac server directory.

I'm not sure whats going with that new error your getting...
What Linux distro are you running?

I'm running a server just fine 12.04 Ubuntu.

[2017-03-24 10:49] JakubDvonc commented on #16
Red Hat Enterprise Linux 7.3 (HVM),

But never mind, I try the installation again and I will try to use Ubuntu. Than let you know.

Thank you again for now.....

[2017-03-24 11:39] JakubDvonc commented on #16
Wow !!!!!! I see it running !!!

T.H.A.N.K YOUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUU

[2017-03-24 12:17] Pringlez commented on #16
Cool, :1st_place_medal:

Seems to be an issue with amazon's cloud based distro...

[2017-03-24 13:41] JakubDvonc commented on #16
OK, so here again :(
Everything is fine, server works, I can set everything and I can see the server in AC game server list, but if I try to open it on AC it says: "Unable to contact server"

So again ask for help :( sorry

[2017-03-24 14:44] Pringlez commented on #16
Double check all your firewall settings.

Make sure to open TCP 9600, UDP 9600, TCP 8081 if you haven't changed the default ports for the ac server

Maybe just disable your firewall / iptables to see if it works...

[2017-03-24 14:53] JakubDvonc commented on #16
diabling firewall make it :)
Thanks again.

Jakub

[2017-03-24 14:58] JakubDvonc commented on #16
So I think I am going totaly mad out of this :)
After everything works and I can finally join the server, this appears:

"Error: Server is running different protocol"
:(

[2017-03-24 14:59] JakubDvonc commented on #16
When you receive an error such as "WARNING: requested to join with a different protocol (Client=160 , Server=150)"
Then this means that the server is not running on the same version as your client. To resolve the problem simply click the steam update button in the control panel.

have to try this....

[2017-03-24 15:46] Pringlez commented on #16
The ac server needs to be updated, just run the same command used to install the server.

[2017-03-24 18:39] JakubDvonc commented on #16
Everything is fine now.
Thank you again.

[2017-03-24 19:25] JakubDvonc commented on #16
OK, maybe one last question (sorry about that)
If I am in the game and to the chat I write: /admin than the response is: "Command refused"
terminal (node server.js) says: you are not admin of the server
Can I fix this?

[2017-03-24 23:01] Cele91 opened #18 "Restart button not work"
If you click, he stops the server and the cmd creates this error
[code]

[2017-03-24 23:06] Cele91 opened #19 "sTracker loading endless (again)"
The status of sTracker is loading. Also, if you start the server, start sTracker and then click "Restart" the server, the server give error in cmd and stops, but sTracker remains loading

http://i.xomf.com/rjhzx.png

[2017-03-24 23:11] Cele91 opened #20 "Checkbox need two click to be activated"
As soon as the page loads, all checkboxes are unboxed where to click. At first click activates the box, the second click is inserted check
http://i.xomf.com/hbdxh.png

[2017-03-24 23:17] Cele91 opened #21 "Practice, Qualify, Race, .. do not appear"
If you select a session, for example Race, but [RACE] does not exist in cfg server, the frame remains white and the panel does not show anything. All white
http://i.xomf.com/bvvvx.png

[2017-03-25 08:26] #16 closed

[2017-03-26 13:28] Cele91 commented on #12
@Pringlez I have this problem on Windows

[2017-03-26 21:10] Pringlez commented on #19
I haven't actually looked into the sTracker feature, I don't use it on my own servers. If you can provide any error logs I might be able to debug it.

Are you running on Windows or Linux?

[2017-03-26 21:12] Pringlez commented on #18
Running on Windows? I haven't fully tested the application on Windows yet, the feature seems to work just fine on Linux although.

[2017-03-26 21:16] Pringlez commented on #21
So if the [RACE] session config is not in the 'server_cfg.ini' file the panel will remain white?

OK I'll look into it when I get some time

[2017-03-26 21:17] Pringlez commented on #20
I've notice this myself, I look into it when I get the chance

[2017-03-26 23:13] Cele91 commented on #19
Windows sir :)

[2017-03-26 23:16] Cele91 commented on #18
Windows yes :o

[2017-03-26 23:17] Cele91 commented on #21
Yes, same for [BOOKING], [PRACTICE], [QUALIFY], etc

[2017-03-26 23:18] Cele91 commented on #20
Goods

[2017-03-26 23:22] Cele91 opened #22 "AC Manager does not save some values"
I noticed that the panel does not save some things. After setting several things, click save and in the cfg I always find values not changed
(Win server 2008)

[2017-03-28 00:35] jo3stevens commented on #12
Sorry I haven't been active on the project since my last kid took away all my free time! Just seen this flurry of activity. I still use the app on my server but it is missing a lot of features and settings in recent builds. I've been planning to get it all updated soon.

[2017-03-28 00:36] jo3stevens commented on #19
Hey @Cele91

This is just because the app looks for a certain output from stracker that got changed in more recent stracker builds. In the app in will appear to be unless, but it will actually be running.

I'll get this fixed soon.

Cheers

[2017-03-28 00:38] jo3stevens commented on #18
Hey @Cele91

I'm not having this on my windows server. Does it prevent you from starting the server again?

Cheers

[2017-03-28 00:40] jo3stevens commented on #20
Hey @Cele91

Again I've not come across this. Which browser are you using?

Cheers

[2017-03-28 00:40] jo3stevens commented on #22
Hey @Cele91

Can you tell we which settings you are finding this with. The app is quite out of date for all of the new settings which I plan to update soon.

Cheers

[2017-03-28 00:41] jo3stevens commented on #7
@Cele91

Looks like you raised this twice but yes it's just a front end issue due to a change to stracker. I'll get it fixed soon.

Cheers

[2017-03-28 01:39] #9 closed

[2017-03-28 01:40] #5 closed

[2017-03-28 01:43] jo3stevens commented on #6
This sounds like the app wasn't configured correctly though there is an issue if adding mod layouts to a track with just a single layout.

[2017-03-28 01:43] #6 closed

[2017-03-28 01:43] jo3stevens commented on #7
Dupe

[2017-03-28 01:43] #7 closed

[2017-03-28 01:45] #8 closed

[2017-03-28 04:40] jo3stevens commented on #20
Ok now I see it with the new design changes.

[2017-03-28 08:03] Cele91 commented on #18
Click 'Stop' and then 'Start' and the server starts, but the problem remains with 'Restart' button :) . I use the latest version revisited of acmanager

[2017-03-28 08:30] jo3stevens commented on #18
Thanks @Cele91 . Restart button was added by @Pringlez so I'll check it for Windows.

[2017-03-28 08:46] Cele91 commented on #18
@jo3stevens Thanks a lot :D

[2017-03-28 08:50] Cele91 commented on #22
The sessions if are 'on' or 'off'; The various sessions settings; The options with checkbox;

[2017-03-28 08:57] Cele91 opened #24 "Idea/Request: List numerically entry list"
#I apologize if I write in the wrong section#
I think it's nice and useful to have numbered entrylist (like 1. 2. 3. etc) for each entry in entrylist

[2017-03-28 09:44] Pringlez commented on #18
I'm not really sure if I implemented that feature correctly or not :face_with_head_bandage:

It seems to work fine in Linux @jo3stevens

[2017-03-28 12:46] jo3stevens commented on #22
Hey @Cele91

Yep it's those checkboxes added by @Pringlez. They don't work correctly at all with angular. I'll look for an alternative.

Cheers

[2017-03-28 12:52] jo3stevens commented on #20
@Pringlez , dude did you not test any of this? I'm kinda regretting accepting your pull request now. I just dug into the checkboxes and they don't work at all. You're not initiating them with the jQuery plugin to start with, and even doing that it happens before angular has done it's binding so they all appear false. I was able to create a quick directive to watch the model value and update the ch

[2017-03-28 13:49] Pringlez commented on #20
@jo3stevens I tried testing most of functionality but didn't get around to fixing the checkboxes yet, believe me there were other issues like reading the configuration files, authentication, saving config to file etc that wasn't working at all until myself & @surtic86 came along...

The bootstrap plugin switch should do the trick.

[2017-03-28 16:36] surtic86 commented on #24
Your wish comes true :) i also missed it but forgot about to implement it.

[2017-03-28 16:41] surtic86 commented on #19
Hm do we really still need to start / stop the sTracker?

I have mine all the time running without stopping it for a AC Server restart and it works fine. I have on sTracker for 3 AC Server Manager Instances.

[2017-03-29 00:59] jo3stevens commented on #20
I don't doubt that @Pringlez; I hadn't updated the project in over and year and were lots of updates to the server config files in that time. I certainly appreciate the contributions, but would be good to ensure things are properly tested before making a pull request.

Cheers

[2017-03-29 03:23] jo3stevens commented on #19
I created this before sTracker was a UDP plugin and you had to run it separately once the server was up which is where there is an additional option for it. I think you can still run it that way should you want to use another UDP plugin, so I'll have to double check how it all works now.

[2017-03-29 03:30] jo3stevens commented on #20
The version of bootstrap switch added by @Pringlez was either old or modified. I assume it came with the bootstrap dashboard? To get it working I'd have needed to create quite a complex directive, so I just opted to replace it with the latest version of bootstrap switch and the angular wrapper already written for it.

I've just pushed the changes. It's replaced the checkboxes with yes/no switches.

[2017-03-29 03:30] #20 closed

[2017-03-29 03:31] jo3stevens commented on #22
I've replaced the checkboxes with the latest bootstrap switch plugin, but there is still an intermittent saving issue on several pages. When it happens I'm seeing a JS error in the console so will need to investigate. I'm thinking it's to do with the new fields added.

[2017-03-29 08:46] jo3stevens commented on #24
This is now merged in

[2017-03-29 08:46] #24 closed

[2017-03-29 08:48] jo3stevens commented on #22
I believe this is now fixed. There were a few issues, one being the checkboxes not binding properly, some numeric input fields not using the string-to-number directive and also the validation directive placed on the wrong element in a few places.

I've tided this all up and it seems to be saving correctly now.

[2017-03-29 08:48] #22 closed

[2017-03-29 08:49] #12 closed

[2017-03-29 08:49] #11 closed

[2017-03-29 08:51] jo3stevens commented on #10
Hey

stracker starts fine from the app in Windows though there is currently a UI bug where it doesn't show a started state even though it is running.

I have no idea for linux as I don't run any linux severs and the linux support was added by a contributor.

Cheers

[2017-03-29 08:51] #10 closed

[2017-03-29 08:56] jo3stevens commented on #21
Hey @Cele91

I believe this to be another issue caused by the faulty checkboxes. I've just tried reproducing since adding in the switches and everything works fine. Turn a session off and the section is removed from the ini file, turn it back on and fields reappear and the section is added to the ini again.

Can you check with the latest version and let me know if the issue still exists.

Cheers

[2017-03-29 09:06] jo3stevens commented on #18
Had a quick look at implementation @Pringlez but haven't tried on my server yet. Creating a restart function in server.js was unnecessary. We already have a working stop and start methods, so the restart button should have just been UI functionality that called stop, then called start. Not much point having duplicated code in a single method.

[2017-03-29 09:14] cazzoo commented on #12
Looks sexy now, I'll check that ASAP.
Also, I'll try to set this environment as Docker env to see if it'd work as is. Anybody has already did that so far?

[2017-03-29 09:26] Cele91 commented on #21
I make some test now and I report soon :)

[2017-03-29 09:36] Pringlez commented on #20
I'll make sure to fully test it next time :+1:  Angular is still quite new to me, still reading up on the best practices etc.

Maybe we could write tests to double check the functionality?

[2017-03-29 09:55] surtic86 commented on #21
It works on my Linux System.

When you remove a Session it removes it complete form Config and it will show up when you Enable one.

[2017-03-29 09:56] Cele91 opened #26 "Idea/Request: Draggable entrylist"
* jo3stevens Forgive me if I'm wrong section *
I think it's really hard to write code that idea. :S It would be nice and useful to have the entrylist where you can drag and arrange the pilots in "live", dragging them to the desired location

[2017-03-29 11:38] jo3stevens commented on #26
@Cele91

I think I looked into that before. Drag and drop is always a bit of a pain, especially when you need the whole thing to scale down and work on mobile. The entry list is already the worst part on mobile. It would be easier just to have up/down arrows on each entry to move them around.

What benefit is an ordered entry list anyway? I know it give specific drivers a specific pit, but other t

[2017-03-29 11:39] jo3stevens commented on #21
Good stuff @surtic86 , it's working for me on windows too so will close this off.

[2017-03-29 11:39] #21 closed

[2017-03-29 12:11] Cele91 commented on #21
All work fine for me :)

[2017-03-29 12:21] Cele91 commented on #26
It should also be very well the directional arrows above/below to reorder. :D
I call this in order to give an order to pit pilot.
Example: the guys that make me the live streaming shall be recorded in the past for not having them in the midst of participants or if I have to put two riders from the same team in the pit neighbors, alter edit (Name or Team or GUID .. ) :)

[2017-03-30 00:44] Pringlez opened #27 "README Links"
@jo3stevens Just a heads up Joe, some of the links in the readme files point towards my fork repository. People would probably get confused on which version to download & use.

[2017-03-30 02:05] jo3stevens commented on #27
Links updated

[2017-03-30 02:05] #27 closed

[2017-03-30 03:29] jo3stevens commented on #19
I've fixed this one. With stracker as a UDP plugin it doesn't do it's own stdout which is how it was looking for it running before. Instead the main acserver does a stdout when it starts so moved the check logic.

As @surtic86 said, now stracker is a UDP plugin there is no dependency on acserver actually running. I'll amend the UI logic so that stracker can be left running when acserver is stopped

[2017-03-30 03:29] #19 closed

[2017-03-30 06:45] jo3stevens commented on #18
Hey @Cele91

Are you accessing the web app on a browser directly on your server when this happens?

I just did some refactoring so that the web app uses the existing start and stop methods and this is working fine for restarting when using a browser session on my local machine, yet if I use a browser on the actual server I get that error. Quite strange...

[2017-03-30 07:50] Cele91 commented on #18
@jo3stevens
I never tried the restart button directly from the browser of my dedicated server. I only tried using Chrome from my pc

[2017-03-30 08:04] jo3stevens commented on #18
Thanks @Cele91

I'm thinking it's just a timing thing; it's probably trying to start the server up again before its properly shut it down. I'll try a timeout or find a more definitive way to ensure the server it stopped.

Cheers

[2017-03-30 08:16] Cele91 commented on #18
Perfect :) thank you very much @jo3stevens

[2017-03-31 06:01] jo3stevens commented on #18
I put a small delay between the start and stop when resetting and that seems to have fixed the problem.

Cheers

[2017-03-31 06:01] #18 closed

[2017-03-31 09:05] Cele91 commented on #18
@jo3stevens  I have a doubt. I click 'Start' of server (and server start),after I click 'Start' of sTracker (and sTracker start). But if I have both started and I click 'Restart' of server, sTracker remains started but does not restart with the server. Is correct that?

[2017-03-31 09:58] Cele91 opened #28 "Idea/Request: Minorating status"
It would be nice to have the status of Minorating. Having the start/stop I think is problematic, since (in my case) can be started only a few seconds after sTracker. :) I hope these my ideas are not useless :P

[2017-03-31 12:15] Cele91 opened #29 "Help page background page blank"
I do not see the background for the help page. I also tried to create a new re assigning it with the new name but still does not see.

[2017-04-01 08:10] jo3stevens commented on #29
@Cele91

Unsure what you mean by background page? I've noticed that the menu button does nothing when scaled down to mobile; is that what you're referring to?

[2017-04-01 08:12] jo3stevens commented on #28
It's on my TODO list. You run it through stracker which has a UDP pass through so I can't see why there would be any issue.

Presets and multi server is top of my list. I'd pretty much finished presets before I stopped dev before so won't take long to finish it off.

[2017-04-01 10:06] Cele91 commented on #29
The red left column does not have the background in Help page
http://i.xomf.com/ffmkp.png

[2017-04-02 02:45] jo3stevens commented on #29
Ah okay. Those backgrounds where added by @Pringlez  and I think @surtic86 created the help page. It's not really an issue. The menu not working when scaled down to mobile is though.

[2017-04-02 02:55] jo3stevens commented on #18
Yeah that was the intention @Cele91

From my understanding with stracker running as a UDP plugin it doesnt have a direct dependency on on acserver. It should be possible to restart acserver and leave stracker running and acserver will hook up to it on start.

Let me know if that's not the case and you're having an issue. I also intend to remove the logic that stops stracker when you stop acserver.

[2017-04-03 20:40] Pringlez commented on #29
I'll look into the issue @Cele91 , I think it's only small problem.

[2017-04-03 22:31] Pringlez commented on #29
@Cele91 The fix is in the latest pull request, enjoy!

[2017-04-13 10:31] Cele91 opened #31 "Problem with saving some track configuration"
I'm having several problems in saving some tracks configurations. If I select ks_vallelunga, and the "club" configuration, the panel writes "club" in cfg, but if I refresh the page in the panel appear "classic" , but in the cfg there are "club"

[2017-04-13 12:11] Cele91 opened #32 "Idea/Request: Editable entrylist"
Possible make editable the entrylist table? Example: If I want to add ballast to a driver who is already in entrylist without rewriting it from scratch

[2017-04-14 09:09] Cele91 opened #33 "The panel does not save the tires"
The new restyle the panel does not save the tires only if you select a mix. Keep writing LEGAL_TYRES=SV even if you select a car that has no "SV" tyre

[2017-04-17 09:39] Cele91 opened #34 "Problem with old server_cfg on multiple server"
I'm noticing problems on multiple servers. I have some servers with the new panel, and some with the old panel. If I try to install the new panel on a server that had the old panel, the new panel starts giving problems, such as the time appears and the field is empty (hh, mm) and if I try to do "Save "it does not appear green "Save" confirmation. But if I take a new cfg last release of Assetto Cor

[2017-05-04 09:19] Bechrissed commented on #31
Yes, same problem here. So the title of the issue is incorrect. It does save the values correctly in the cfg files but doesn't show those changes in the web interface. So if you save again you will be saving to a state you didn't choose. Quite annoying, it means you have to configure everything correct at once.

[2017-05-09 12:02] KaiseR877 opened #35 "File Path"
Hi
I've some problemes, this is my setting.jr

module.exports = {
  serverPath: 'C:\Program Files (x86)\Steam\steamapps\common\Assetto Corsa Dedicated Server\',
  contentPath: 'C:\Program Files (x86)\Steam\steamapps\common\Assetto Corsa Dedicated Server\content\',
  sTrackerPath: '',
  username: '',
  password: '',
  port: 3000
};

And server manager dont run! But path is correct! This is warning

[2017-05-09 14:00] Cele91 commented on #35
IT: Apri 'cmd.exe' e digita 'cd C:\Program Files (x86)\Steam\steamapps\common\Assetto Corsa Dedicated Server\acmanager' , poi 'npm install' e poi prova ad avviarlo di nuovo

EN: Open 'cmd.exe' and type 'cd C:\Program Files (x86)\Steam\steamapps\common\Assetto Corsa Dedicated Server\acmanager' , and type 'npm install' . After this re lauch the .bat file

[2017-05-10 10:09] Pringlez commented on #34
You shouldn't really use the old cfg with new panel, the developers of AC have released number updates on the server-side that are not completely compatible with the old cfg.

Migrate your old cfg's to the new version

[2017-05-10 10:21] Pringlez commented on #31
There seems to be an issue with the two way data binding, feel free to debug the issue further. I'll look into when I can

[2017-05-10 10:54] KaiseR877 commented on #35
IT: Cavolo, ho solamente aggiornato i file, non mi ricordavo quel passaggio! Grazie mille!!!

ENG: Dam, i just update the file, i forgot this point. Thanks a lot!!!

[2017-05-23 00:11] #35 closed, assigned to nobody

[2017-05-23 00:11] #29 closed

[2017-05-23 00:13] #34 closed, assigned to nobody

[2017-05-23 11:37] Pringlez commented on #31
This is fixed in the latest pull request :+1:

[2017-05-26 08:15] Cele91 opened #37 "Panel not save with with some mod cars"
For a while I'm noticing the problem described in the title. If I try to save the server configuration with cars mods, the server will not save it and will not respond with the "successful save" message.

[2017-06-13 07:52] Cele91 commented on #37
It is a very trouble. The panel does not save anything and remains unusable :(

[2017-06-13 10:47] Pringlez commented on #37
Are you using my latest version of the panel or jo3stevens?

[2017-06-13 20:48] Cele91 commented on #37
Your version. Now I add The tyre of mod in manager/ks_tyre.ini and work. Uhm

[2017-07-03 01:41] ksbansal opened #40 "auto start ACserver"
auto start ACserver option when ACmanager starts. Please add.

[2017-07-03 23:38] ksbansal opened #41 "Tyre selection not working"
The setting doesn't save.  LEGAL_TYRES in the server.ini file stays blank.

[2017-07-04 10:40] Cele91 commented on #41
Look https://github.com/jo3stevens/ACServerManager/issues/33
I temporaney solved it by adding an div with
`<input class="form-control" name="select_tyre_temp" ng-model="server.LEGAL_TYRES">`

[2017-07-19 15:32] Pringlez commented on #40
I'll look into the idea, it could be option in the settings.js file.  Like "autostart = 'true'" or something, it would work well if the ACManager crashed too with PM2 auto restarting the application, which would bring the ac server back up and online at the same time. Good idea :+1:

[2018-01-13 13:38] schmoomsm opened #42 "Track and Skin Drop Menus"
Hi,

Thanks for this great tool, which I installed a week or so ago. It's working well except for two things:

1) if I choose a track that has variant lay-outs, I don't see a way to choose the variant. Result is no one can join the server

2) the skin selection on the entrylist menu is empty

Installed on Linux (Ubuntu) via directions in the readme and running lastest version of AC. I tried runnin

[2018-01-13 22:03] Pringlez commented on #42
Which version have you installed? jo3stevens version or the version in my fork?

[2018-01-14 12:58] schmoomsm commented on #42
I checked this morning and it appears I was using jo3stevens.

I downloaded your version and replaced it with your version and I still have same glitches.

Thanks.

[2018-01-16 14:27] Pringlez commented on #42
Did you run the 'generate-frontend-content.sh' script in your ac manager's directory? It basically creates empty folders that the application uses to populate those drop down menus.

[2018-01-20 10:34] Cele91 opened #43 "Module to change the manager/ks_tyre.ini file"
Can add a module/box that will edit the 'ks_tyre.ini' file that is in the "manager" folder? It would be useful to add the tires of the custom cars. Thanks

[2018-03-27 20:57] Golia420 opened #44 "Problem Pre-Configuration"
Hi, maybe it's me that I can not configure but after having done all the reported passages, I can not understand why when I start the Web script can not find the folder where and containing the server "Assetto corsa Server", or at least try but goes to bet on an insesitente link .. and in fact I can neither load nor see the server up or down and even configure it and save it ...
Tomorrow place som

[2018-05-05 12:36] Cele91 opened #45 "Player Manager disappeared"
The Driver Manager has disappeared in the new panel version of Pringlez. My problem?

[2018-05-05 18:54] Pringlez commented on #45
@Cele91 I'm not sure what your referring to in the app. Are you using my version of the manager?

[2018-05-05 21:27] Cele91 commented on #45
Yes, your last version of panel. http://i.xomf.com/czpvz.png

[2018-05-06 12:44] Pringlez commented on #45
It's doesn't seem to render, I think maybe recent changes to the entry list page has broken it. Not sure, I'll take a look later

[2018-05-13 15:52] TylerBre opened #46 "Track configuration is not saved"
Replicate:
- upload blackwood to your server (https://www.racedepartment.com/downloads/blackwood.2639/).
- select black wood and then select gp configuration
- save
- navigate away and then navigate back

[2018-05-13 15:54] TylerBre opened #47 "Cannot apply "advanced" rules"
Replicate:
- navigate to advanced tab
- update "Client Send Interval"
- click save

![image](https://user-images.githubusercontent.com/484368/39969042-f6a29f68-569b-11e8-8861-e4afc0687232.png)

[2018-05-15 19:13] Pringlez commented on #47
This version of the manager seems to be from jo3stevens repository, most of the saving issues have been fixed in my fork.

[2018-05-15 19:14] Pringlez commented on #46
Not sure which version of the manager your using, is it jo3stevens version?

[2018-05-15 19:17] Pringlez commented on #44
Which version are you using, I'm don't really understand the problem your having. The manager can't find the assetto corsa server right? By default, the manager looks for the server in one directory up called 'server'. Did you install the assetto corsa server somewhere else yes?

[2018-05-15 19:23] TylerBre commented on #46
this is jo3stevens version

[2018-05-15 19:24] TylerBre commented on #47
yes this is from jo3stevens version

[2018-05-15 19:47] Golia420 commented on #44
hi, thanks for the reply ..
the server set up run and installed from another part, but I gave him the connection to which he must go .. that is C: \ Program Files \ Steam \ steamapps \ common \ assettocorsa \ server

but he tries to access this direcory:

![fefe](https://user-images.githubusercontent.com/37850069/40079866-81cf0560-5889-11e8-9184-f69178f668b3.PNG)

[2018-05-15 20:57] Pringlez commented on #44
Whats in your settings file content path?

[2018-05-15 20:58] Pringlez commented on #46
Ah ok, there is still saving issues in that version, my fork has that fixed :+1:

[2018-05-15 20:59] Pringlez commented on #47
Try my fork version, the saving should be working

[2018-05-16 01:18] SpyBot68 opened #48 "can't get it to run"
![image](https://user-images.githubusercontent.com/39316815/40091391-49ee7594-5885-11e8-98b1-4387a2591344.png)

so i have nodejs and everything else set but i seem to be getting this error, im assuming this is something simple but i cant figure it out, have been trying all day

[2018-05-16 08:43] Pringlez commented on #48
Did you run 'npm install' in the directory first?

[2018-05-17 11:49] Golia420 commented on #44
hi, maybe I understood why it gave me problems .. the script tried to access 2 links because I had not set the link "cfg" .. anyway I remember that this problem I had actually already solved .. (I do not remember a fuck), the question is:
now the script "works":
  module.exports = {
   serverPath: '\ server',
   contentPath: '\ server \ cfg',
   sTrackerPath: '',
   username: '',
   password: '',

[2018-05-17 12:15] Pringlez commented on #44
The 'contentPath' should be 'C:\Program Files\Steam\steamapps\common\assettocorsa\content' in your case since your running the server & the game on the same machine. If I understand thats where your assetto corsa game is installed.

Try using my fork version too, there is still saving issues in jo3stevens version of the manager. If you do use my fork, then make sure to set the 'useLocalContent' to

[2018-05-17 15:48] SpyBot68 commented on #48
i had but just incase i redid it and now im getting a different error
![image](https://user-images.githubusercontent.com/39316815/40188524-21319728-59c8-11e8-8836-226b16dda5cc.png)
![image](https://user-images.githubusercontent.com/39316815/40188545-2ddf3282-59c8-11e8-8058-dc1a283f2894.png)

[2018-05-18 01:36] SpyBot68 commented on #48
![image](https://user-images.githubusercontent.com/39316815/40211703-1c3c5508-5a1a-11e8-88ba-35bcb93aca99.png)
 so fixed the last issue but now i have this one.... firewall disabled and UDP and TCP port open ....

[2018-05-18 01:41] SpyBot68 commented on #48
had to change the port to 4 digits

thx for the fast answer though

[2018-05-18 01:41] #48 closed, assigned to nobody

[2018-05-18 02:46] SpyBot68 opened #49 "server_cfg.ini fix and issue with skins dropdown menu"
for some reason, the server_cfg,ini cannot be edited, i am not receiving an error code for this in the console but on the web configuration it also never saves or cannot save, the entry_list.ini does get edited and does save on the web, so wondering why the server_cfg doesnt react the same...
currently running : @Pringlez  (very nice updates btw)
also tried : jo3stevens

both have the same issue,

[2018-05-22 22:56] SpyBot68 commented on #49
redid the server config using what was in the help menu since the packed config i had was not editable, but it was missing these lines to work properly:
MAX_CONTACTS_PER_KM=-1
SEND_BUFFER_SIZE=0
RECV_BUFFER_SIZE=0
KICK_QUORUM=70
CONFIG_TRACK=

@Pringlez the main issue i seem to have is the skin selection is supper buggy with your version hopefully there is a simple fix, doing different mods with d

[2018-05-23 10:25] Pringlez commented on #49
From my testing of the entry list, the skins dropdown menu seems to be working with standard content in assetto. Are you using modded content / skins?

Double check file permissions, I was having issues with saving the config file while it was running inside a docker container. I needed to grant write permissions to the assetto server directory on the host.

[2018-05-23 18:50] SpyBot68 commented on #49
ye mods are being used, im running the app in a folder on my desktop and it does edit the files, i have dragged and dropped the car's directory into the cars category and made sure all the information was proper there.
the one thing ive noticed is that to see the skins of x car even if it was already added to the entry list i need to choose it in the first drop down as if i were to add a new one.

[2018-05-30 17:13] TylerBre commented on #49
@SpyBot68 check your node version, I had an issue with content upload functionality, see my comment here:

https://github.com/jo3stevens/ACServerManager/pull/36#issuecomment-393233010

[2018-05-30 19:49] SpyBot68 commented on #49
@TylerBre in your comment, you suggest running node v.8.5.0, as of now i am running v8.11.2 LTS, so id assume you are recommending me to dial back...?

my problem isnt the upload if tracks or cars, i just need to wait sometimes to edit them...my main issue is for skins and how they function...

[2018-05-30 20:19] TylerBre commented on #49
@SpyBot68 no 8.11.2 should be fine.

It's okay, it was a long shot response, I had no idea if your issue was to do with node version. Likely it isn't.

[2018-05-30 20:30] SpyBot68 commented on #49
@TylerBre im currently trying to give it a shot but i need to figure out either how to make it read off the file for the previous version of node or read node from a different directory

thank you for your suggestion though

[2018-05-31 02:50] TylerBre commented on #49
@SpyBot68 you should post the directory structure and make sure ```settings.js``` is correct.

Also make sure the permissions inside of your cfg directory is correct.

[2018-06-06 12:21] SpyBot68 commented on #49
so with the lastest update ... skins now make it to the entry.ini but dont display on all cars in the entrylist webpage (all cars have been uploaded to the server) - this makes it hard to know remotely what skin is already being used for a certain car

update: uploaded a few other cars and the issue where the entrylist writes skins as null in the entry_list.ini file is back (yes these are non kuno

[2018-06-12 00:18] SpyBot68 commented on #49
![image](https://user-images.githubusercontent.com/39316815/41263328-3f302924-6db4-11e8-86ca-c19cbb77adb4.png)
![image](https://user-images.githubusercontent.com/39316815/41263341-5303523c-6db4-11e8-8c25-102428c88ecc.png)
![image](https://user-images.githubusercontent.com/39316815/41263365-87247d8e-6db4-11e8-8a05-b5c6a129d65c.png)

[2018-08-13 21:29] Atriusftw commented on #49
Can confirm that the above problem happens to me aswell. Node version 10.8.0.

![2018-08-13_23-23-35](https://user-images.githubusercontent.com/1478937/44058975-1eb86738-9f50-11e8-9507-e0ce93cab609.gif)

The resulting `entry_list.ini`:

![nvidia_geforce_overlay_2018-08-13_23-23-55](https://user-images.githubusercontent.com/1478937/44058956-15a1cdd8-9f50-11e8-87d9-02e954060abb.png)

Noticing some a

[2018-08-14 22:01] Atriusftw commented on #49
Can confirm that the above problem happens to me aswell. Node version 10.8.0.
Using your latest version, @Pringlez.

![2018-08-13_23-23-35](https://user-images.githubusercontent.com/1478937/44058975-1eb86738-9f50-11e8-9507-e0ce93cab609.gif)

The resulting `entry_list.ini`:

![nvidia_geforce_overlay_2018-08-13_23-23-55](https://user-images.githubusercontent.com/1478937/44058956-15a1cdd8-9f50-11e8-8

[2018-08-16 12:46] MMTES opened #52 "Server doesnt respond with an unknown error"
![bandicam 2018-08-16 15-42-30-788](https://user-images.githubusercontent.com/42440704/44209845-5850d600-a16d-11e8-90e4-5922b4f9cf40.png)
[server_20180716_160146_log.txt](https://github.com/jo3stevens/ACServerManager/files/2293752/server_20180716_160146_log.txt)
![bandicam 2018-08-16 16-09-37-226](https://user-images.githubusercontent.com/42440704/44210321-ccd84480-a16e-11e8-960a-fe7321d299f2.png)

[2019-04-18 09:55] wuchyi commented on #10
Hey, sorry to bring up this old topic.
I've realised the probably issue is that in server.js, the action to spawn the stracker server calls for stracker.exe, which obviously does not work on Linux.

I've tried changing it to `/stracker_linux_x86/stracker `though but it doesn't work.

edit:
#54 has an update to server.js